li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
    
}

body {
background-color: rgb(228, 228, 228);
}

.bg {
    width: 100%;
}

.darkfilter {
filter: brightness(50%);
}

.navbar {
background-color: transparent;
}

.image { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
 .float {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
 }

  .caption {
    color: rgb(212, 212, 212);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
 }

 header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }

  h2 {
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    letter-spacing: 0.3em;
    margin: 0;
    font-size: 2.5rem;
    white-space: nowrap;
  }

  /* Upcoming Events Home Page Section */
  
  .section {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .jumbotron {
    background-image: url(../images/event-makers-wax.jpg);
    background-size: cover;
  }

  .center {
    text-align: center;
  }

